<%var options = htmlWebpackPlugin.options;%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="<%= options.viewport %>">
        <meta name="theme-color" content="<%= options.primaryColor %>">
        <meta name="description" content="<%= options.description %>">
        <title><%= options.title %></title>
        <link rel="stylesheet" href="<%= options.baseCss %>">
        <%= options.font %>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>